In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import  StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import StackingRegressor

In [ ]:
df = pd.read_csv('train_data.csv')

In [ ]:
df.head()

In [4]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [6]:
X = df.drop(['default payment next month','ID'], axis = 1)
y =  df['default payment next month']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3)

In [8]:
X_train.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [9]:
def One_hot(X_train, X_test, catagory_list, continous_list):
    '''
    Returns data frame of X_train and X_test of catagorical columns one 
    hot encoded merged with continous columns.
    '''
    
    ohe = OneHotEncoder(drop='first', sparse=False)
    ohe.fit(X_train[catagory_list])

    X_tr_cat = pd.DataFrame(ohe.transform(X_train[catagory_list]),
                                      columns=ohe.get_feature_names(),
                                        index=X_train.index)
    X_train_ohe = X_tr_cat.merge(X_train[continous_list],
                           left_index=True,
                          right_index=True)
    
    X_te_cat = pd.DataFrame(ohe.transform(X_test[catagory_list]),
                                  columns=ohe.get_feature_names(),
                                    index=X_test.index)

    X_test_ohe = X_te_cat.merge(X_test[continous_list],
                       left_index=True,
                      right_index=True)


    return X_train_ohe, X_test_ohe

In [10]:
continous_list = ['LIMIT_BAL','AGE','BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6' ]

catagory_list = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0']

In [11]:
X_train_ohe, X_test_ohe = One_hot(X_train, X_test, catagory_list, continous_list)

In [12]:
cross_val_score(RandomForestClassifier(), X_train_ohe, y_train, cv = 5)

array([0.81220238, 0.80714286, 0.80982143, 0.81636905, 0.81482584])

In [40]:
X_train_scaled = ss.fit_transform(X_train_ohe)

In [46]:
cross_val_score(LogisticRegression(), X_train_scaled, y_train, cv = 5, n_jobs = 100)

array([0.82111111, 0.82      , 0.82      , 0.82527778, 0.8149486 ])

In [47]:
cross_val_score(DecisionTreeClassifier(), X_train_ohe, y_train, cv = 5)

array([0.73333333, 0.74      , 0.73972222, 0.70833333, 0.73437066])

In [13]:
grid = {
    'max_depth': [3,5,7],
    'min_samples_leaf': [2,5,10]
}

In [77]:
gs = GridSearchCV(estimator = RandomForestClassifier(), param_grid = grid, cv=3)

In [78]:
gs.fit(X_train_ohe, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [3, 5, 7],
                         'min_samples_leaf': [2, 5, 10]})

In [79]:
gs.best_params_

{'max_depth': 7, 'min_samples_leaf': 2}

In [82]:
rfc = RandomForestClassifier(max_depth=7, min_samples_leaf= 2)

In [83]:
rfc.fit(X_train_ohe,y_train)

RandomForestClassifier(max_depth=7, min_samples_leaf=2)

In [84]:
rfc.score(X_train_ohe, y_train)

0.825108637418894

In [85]:
rfc.score(X_test_ohe, y_test)

0.8202777777777778

In [90]:
y_hat = rfc.predict(X_test_ohe)

In [92]:
from sklearn.metrics import confusion_matrix

In [93]:
confusion_matrix(y_test, y_hat)

array([[5427,  191],
       [1103,  479]])

In [14]:
from sklearn.ensemble import StackingClassifier

In [97]:
ss = StandardScaler()

In [98]:
X_train_ohe = ss.fit_transform(X_train_ohe)
X_test_ohe =ss.transform(X_test_ohe)

In [15]:
estimators = [
    ('logr', LogisticRegression(max_iter=1000)),
    ('knn', KNeighborsClassifier()),
    ('rt', DecisionTreeClassifier(max_depth=7, min_samples_leaf= 2))
]

sr = StackingClassifier(estimators)

In [16]:
sr.fit(X_train_ohe, y_train)

StackingClassifier(estimators=[('logr', LogisticRegression(max_iter=1000)),
                               ('knn', KNeighborsClassifier()),
                               ('rt',
                                DecisionTreeClassifier(max_depth=7,
                                                       min_samples_leaf=2))])

In [17]:
sr.score(X_train_ohe, y_train)

0.8282040597654622

In [18]:
sr.score(X_test_ohe, y_test)

0.8193055555555555

In [ ]:
test_df.convert_d

In [19]:
test_df = pd.read_csv('test_features.csv', index_col = 0)

In [20]:
test_df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,6320,240000,1,1,1,44,-1,-1,-1,-1,...,2701,2427,1104,2362,2188,2701,2427,1104,2362,519
1,29659,50000,1,3,1,41,0,0,0,0,...,48468,39203,28913,26636,1816,1753,1433,990,967,1071
2,28347,20000,2,3,1,41,0,0,0,0,...,11583,13079,14546,16149,2000,1600,2000,2000,2000,2000
3,8523,320000,2,1,2,34,-2,-2,-2,-2,...,-528,-1336,-1336,-1336,0,4,0,0,0,0
4,22135,120000,2,2,1,23,0,0,0,0,...,66825,68820,69776,71297,3000,2500,3100,2700,2800,2800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,15903,200000,2,1,2,30,-1,-1,2,2,...,75635,94454,60875,41221,15349,10,32000,0,3000,0
5997,23088,100000,2,2,1,36,2,2,2,2,...,77977,79071,76918,81713,3500,3300,3000,0,6500,3000
5998,20147,50000,2,2,1,42,3,3,2,2,...,24574,24348,16130,16467,500,1200,516,566,585,608
5999,19284,70000,2,1,1,32,0,0,0,0,...,71314,71595,70040,68927,2900,2766,3648,2700,2487,2600
6000,20567,80000,1,2,2,29,2,0,0,2,...,13150,13233,13663,13994,2000,2200,600,650,700,1449

In [23]:
x_fdf, X_test_final = One_hot(X_train, X_test, catagory_list, continous_list)

In [24]:
X_test_final

,x0_2,x1_1,x1_2,x1_3,x1_4,x1_5,x1_6,x2_1,x2_2,x2_3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
4279,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,132026,122804,121663,122032,7000,5306,5000,5000,6000,10000
9688,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,3863,5740,0,1170,3746,3863,5740,0,1170,4198
4439,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,56250,57603,19336,18964,4000,2257,2000,2000,700,600
17203,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1861,1457,-129,-2629,1893,0,1457,2500,326,0
1004,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9418,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,35406,34770,35468,36211,2000,1470,1374,1072,1113,2000
20577,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,206221,69995,60000,0,8500,8000,2500,1500,0,0
18912,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1100,0,0,0,0,1100,0,0,0,0
20384,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,204769,62670,10408,10848,10000,0,2806,500,562,303
5654,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10159,9859,8360,4101,1553,1033,381,384,404,1297

In [25]:
a = sr.predict(X_test_final)

In [26]:
import numpy as np

In [31]:
np.savetxt("answer.csv", a, fmt='%10.0f', delimiter='\t')